.active{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    
}
.nav{
    height: 80px;
    max-height: 90px;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color: coral;
    cursor: pointer;
}
.header{
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    padding-top: 3px;
    max-height: 60px;
}
.headword{
    font-size: 15px;
}
.bg-couleur{
    background-color: coral;
}
.logo{
    width: 100px;
    height: 80px;
    margin-top: 2px;
    margin-left: 25px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.pointer{
    cursor: pointer;
}
.nav-item{
    margin-top: 20px;
}
.card-body{
    text-decoration: none;
}
.card{
    text-decoration: none;
}