.active{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    
}
.active:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.form-control {
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}
.nav{
    height: 80px;
    max-height: 90px;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color: coral;
    cursor: pointer;
}
.header{
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    padding-top: 3px;
    max-height: 60px;
}
.headword{
    font-size: 15px;
}
.bg-couleur{
    background-color: coral;
}
.logo{
    width: 110px;
    height: 100px;
    margin-top: 2px;
    margin-left: 25px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.pointer{
    cursor: pointer;
}
.nav-item{
    margin-top: 20px;
}
.card-body{
    text-decoration: none;
}
.card{
    text-decoration: none;
}
.card-button{
    border-radius: 0px;
}
.hoverable:hover{
    border-right: 5px solid coral;
    border-bottom: 5px solid coral;
    border-radius: 12px;
}


.jumbotron {
  width: 30wh;
  height: 30vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}
 
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}